<nav id="indicator">
{%- if page.nav_title == 'verhuurvoorwaarden' %}
    <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" id="item01" href="#deel01"></a>
            <a class="list-group-item list-group-item-action" id="item02" href="#deel02"></a>
            <a class="list-group-item list-group-item-action" id="item03" href="#deel03"></a>

    </div>
{%- endif %}

{%- if page.nav_title == 'Over ons' %}
<div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" id="item01" href="#deel01"></a>
        <a class="list-group-item list-group-item-action" id="item02" href="#deel02"></a>
        <a class="list-group-item list-group-item-action" id="item03" href="#deel03"></a>
        <a class="list-group-item list-group-item-action" id="item04" href="#deel04"></a>
        <a class="list-group-item list-group-item-action" id="item05" href="#deel05"></a>
        <a class="list-group-item list-group-item-action" id="item06" href="#deel06"></a>
        <a class="list-group-item list-group-item-action" id="item07" href="#deel07"></a>
</div>
{%- endif %}
</nav>