//------------------------------------------//
//              Carousel                    //
//------------------------------------------//

.img-container{
  border:1px solid black;
  width: 100%; 
  overflow:hidden;
}

.img-slide{
  position: relative;
  width:100%;
  border:1px solid purple;
  overflow:hidden;
}
.inner{
  position:relative;
  width:150%;
  left:-25%;
  border:1px solid yellow;

}
.img-container .col-3{
  border:1px solid red;
}
#img-left, #img-center, #img-right{
  width:100%;
  height:100%;
}
//------------------------------------------//
//              detail pag                  //
//------------------------------------------//
.detail-card {
  position: relative;
  margin: 10px auto;
  width: 100%;
  height: 100%;
  border: 10px solid #ddd;
  border: 10px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.detail-content {
  background: #7d7f72 url("https://i.imgur.com/wO5gzQp.png") repeat scroll 0 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.detail-bg {
  background: url("https://i.imgur.com/L6XmtEs.png") repeat-x scroll 0 0;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.detail-content-inner {
  position: relative;
  left: -20px;
  width: 100%;
  list-style: none;
  transition: left ease-in 0.8s;
  color: white;
  text-shadow: 0px 2px 3px #555;
}

//------------------------------------------//
//              Parallax                    //
//------------------------------------------//

/*Opmaak van slideshow*/
.sp-slideshow {
  position: relative;
  margin: 10px auto;
  width: 100%;
  height: 100%;
  border: 10px solid #ddd;
  border: 10px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
/*opmaak en verbergen van content*/
.sp-content {
  background: #7d7f72 url("https://i.imgur.com/wO5gzQp.png") repeat scroll 0 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*opmaak en instellen van achtergrond*/
.sp-parallax-bg {
  background: url("https://i.imgur.com/L6XmtEs.png") repeat-x scroll 0 0;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*opmaak en verbergen van radio buttons*/
.sp-slideshow input {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 9px;
  height: 9px;
  z-index: 1001;
  cursor: pointer;
  opacity: 0;
}

/*animatie*/
.sp-slideshow input:checked ~ .sp-content {
  transition: background-position linear 0.6s, background-color linear 0.8s;
}

.sp-slideshow input:checked ~ .sp-content .sp-parallax-bg {
  transition: background-position linear 0.7s;
}

/*verschuiving van de achtergrond kleurfilter*/


input.sp-selector-2:checked ~ .sp-content {
  background-position: -100% 0;
  background-color: #7f7276;
}

input.sp-selector-3:checked ~ .sp-content {
  background-position: -200% 0;
  background-color: #737f72;
}

/*verschuiving van de achtergrond*/
input.sp-selector-1:checked ~ .sp-content .sp-parallax-bg {
  background-position: 0 0;
}

input.sp-selector-2:checked ~ .sp-content .sp-parallax-bg {
  background-position: 200px 0;
}

input.sp-selector-3:checked ~ .sp-content .sp-parallax-bg {
  background-position: 400px 0;
}

/*lange strook met alle content die verschuift en telkens een deel van de content toont*/
.sp-slider {
  position: relative;
  left: 0;
  width: 300%;
  list-style: none;
  transition: left ease-in 0.8s;
  color: white;
  text-shadow: 0px 2px 3px #555;
}
/*content li*/
.sp-slider > li {
  color: #fff;
  box-sizing: border-box;
  height: 100%;
  opacity: 0.4;
  transition: opacity ease-in 0.4s 0.8s;
}

/*verschuiven content*/
input.sp-selector-1:checked ~ .sp-content .sp-slider {
  left: 00;
}

input.sp-selector-2:checked ~ .sp-content .sp-slider {
  left: -150%;
}

input.sp-selector-3:checked ~ .sp-content .sp-slider {
  left: -200%;
}

input.sp-selector-1:checked ~ .sp-content .sp-slider > li:first-child,
input.sp-selector-2:checked ~ .sp-content .sp-slider > li:nth-child(2),
input.sp-selector-3:checked ~ .sp-content .sp-slider > li:nth-child(3) {
  opacity: 1;
}

//------------------------------------------//
//          Qr code scanner                 //
//------------------------------------------//

input {
  font-size:14pt;
}

input, label {
  vertical-align:middle;
}
label{
  margin-bottom: 0;
}
.qrcode-text {
  padding-right:1.7em; 
  margin-right:0;
}

.qrcode-text-btn {
  display:inline-block; 
  background:url('//dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/07/1499401426qr_icon.svg') 50% 50% no-repeat;
  height:1em; 
  width:1.7em; 
  margin-left:-1.7em; 
  cursor:pointer;
}

.qrcode-text-btn > input[type=file] {
  position:absolute; 
  overflow:hidden; 
  width:1px; 
  height:1px; 
  opacity:0;
}

#qrscanner{
  position: relative;
  top:100%;
}
//------------------------------------------//
//            Scroll-indicator              //
//------------------------------------------//

nav#indicator {
  z-index:5;
  border: 1px solid red;
  position: fixed;
  width:30px;
  top:40%;
  left:0;
  }
  
  nav#indicator .circle{
    width:20px;
    height:20px;
    display:box;
    border:1px solid black;
    border-radius:50%;
    margin:3px;
    margin-top:20px;
    margin-bottom:20px;
    background-color:white;
  }
  
  nav#indicator .circle.active{
    background-color:red;
  }
  
  nav#indicator #line, nav #line_red{
      z-index: -2;
      content: '';
      display: block;
      position: absolute;
      top: 25px;
      left: 43%;    /* 60 (diameter) / 2 */
      width: 3px;  /* 5*60 + 5*30 (dot diameter and gap) */
      height: 90px;
      background-color: black;
      margin-left: 0;
      border-radius: 0;
  }
  nav#indicator #line_red{
    background-color:red;
    height:0px;
  }

//------------------------------------------//
//                Footer                    //
//------------------------------------------//

footer{
  background-color: black;
  height: 150px;
  margin-top: 30px;

}


/* ==============================================
Social media menu
============================================== */

a { 
  color: inherit; 
}

.menu-item, .menu-open-button {
  background: darkgrey;
  border-radius: 100%;
    width: 50px;
     height: 50px;
     position: absolute;
     color: #FFFFFF;
     text-align: center;
     line-height: 40px;
     font-size: 0.5em;
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
     -webkit-transition: -webkit-transform ease-out 200ms;
     transition: -webkit-transform ease-out 200ms;
     transition: transform ease-out 200ms;
     transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
   }
 
   .menu-open { display: none; }
 
   .menu {
    right: 15%;
    width: 40px;
    height: 0px;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    position: relative;
    bottom: 40%;
    z-index: 3;
    float: right;
   }
   
   .menu-item:hover {
     background: #EEEEEE;
     color: #3290B1;
   }
   
   .menu-item:nth-child(3),.menu-item:nth-child(4), .menu-item:nth-child(5) {
     -webkit-transition-duration: 180ms;
     transition-duration: 180ms;
   }
   
   .menu-open-button {
     z-index: 2;
     -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
     transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
     -webkit-transition-duration: 400ms;
     transition-duration: 400ms;
     -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
     transform: scale(1.1, 1.1) translate3d(0, 0, 0);
     cursor: pointer;
     box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   }
   
   .menu-open-button:hover {
     -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
     transform: scale(1.2, 1.2) translate3d(0, 0, 0);
   }
   
   .menu-open:checked + .menu-open-button {
     -webkit-transition-timing-function: linear;
     transition-timing-function: linear;
     -webkit-transition-duration: 200ms;
     transition-duration: 200ms;
     -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
     transform: scale(0.8, 0.8) translate3d(0, 0, 0);
   }
   
   .menu-open:checked ~ .menu-item {
     -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
     transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
   }
   
   .menu-open:checked ~ .menu-item:nth-child(3) {
     transition-duration: 180ms;
     -webkit-transition-duration: 180ms;
     -webkit-transform: translate3d(10px, -52.5px, 0);
     transform: translate3d(10px, -52.5px, 0);
   }
   
   .menu-open:checked ~ .menu-item:nth-child(4) {
     transition-duration: 280ms;
     -webkit-transition-duration: 280ms;
     -webkit-transform: translate3d(-45px, 20px, 0);
     transform: translate3d(-45px, 20px, 0);
   }
   
   .menu-open:checked ~ .menu-item:nth-child(5) {
     transition-duration: 380ms;
     -webkit-transition-duration: 380ms;
     -webkit-transform: translate3d(-40px, -33px, 0);
     transform: translate3d(-40px, -33px, 0);
   }
 
   
   
   .item-1 {
     border:solid 1px #3290B1;
     background-image: url('../images/iconmonstr-facebook-1.svg');
     background-repeat:no-repeat;
     background-position: center;
     background-size: 70%;
 
   }
   
   .item-1:hover {
     background-color: #3290B1;
     background-image: url('../images/iconmonstr-facebook-1.svg');
     background-repeat:no-repeat;
     background-position: center;
     background-size: 70%;
     text-shadow: none;
     fill: greenyellow;
 
   }
   
   .item-2 {
     border:solid 1px #3290B1;
     background-image: url('../images/iconmonstr-twitter-1.svg');
     background-repeat:no-repeat;
     background-position: center;
     background-size: 70%;
   }
   
   .item-2:hover {
     background-color: #3290B1;
     background-image: url('../images/iconmonstr-twitter-1.svg');
     background-repeat:no-repeat;
     background-position: center;
     background-size: 70%;
     text-shadow: none;
   }
   
   .item-3 {
     border:solid 1px #3290B1;
     background-image: url('../images/iconmonstr-instagram-1.svg');
     background-repeat:no-repeat;
     background-position: center;
     background-size: 70%;
   }
   
   .item-3:hover {
     background-color: #3290B1;
     background-image: url('../images/iconmonstr-instagram-1.svg');
     background-repeat:no-repeat;
     background-position: center;
     background-size: 70%;
     text-shadow: none;
   }
   
   .citem-3it {
     margin: 24px 20px 120px 0;
     text-align: right;
     color: #EEEEEE;
   }
   
   .citem-3it a {
     padding: 8px 0;
     color: #C49CDE;
     text-decoration: none;
     transition: all 0.3s ease 0s;
   }
   
   .citem-3it a:hover { text-decoration: underline; }
 


//------------------------------------------//
//              General                     //
//------------------------------------------//
body {
  font-family: 'Open Sans Condensed', 'Arial Narrow', serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  background: #cdc url("https://i.imgur.com/LtdNdBp.jpg") repeat top left;
}
.card{
margin-top:20px;
}

.card-img-top{
  width:98%;
  align-self: center;
  margin-top:5px;
  margin-left:3px;
  margin-right:3px;
  margin-bottom: 5px;
}

.color-section01{
  background-color: darkgray;
  color:white;
}
.color-section02{
  background-color: lightgray;
  color:white;
}
