//------------------------------------------//
//              debug classes               //
//------------------------------------------//
.banana {
    color: yellow;
    border: 3px solid yellow;
}

.apple {
    color: red;
    border: 3px solid red;
}

.kiwi {
    color: green;
    border: 3px solid green;
}

.berry {
    color: blue;
    border: 3px solid blue;
}