<!DOCTYPE html>
<html lang="nl">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Other SEO friendly tags -->	
        <meta name="description" content="Reserveer nu deze behulpzame expert voor al je problemen en feedback.">
        <meta name="keywords" content="Mega Missant, reddingsactie, feedback">
        <meta name="author" content="Caitlin Decramer">
        <meta name="copyright" content="Copyright 2017 Mega Missant. All Rights Reserved.">
    
        <!-- favicons - http://realfavicongenerator.net/ -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="{{ site.baseurl }}/images/favicons/manifest.json">
        <link rel="mask-icon" href="{{ site.baseurl }}/images/favicons/safari-pinned-tab.svg" color="#173042">
        <meta name="theme-color" content="#ffffff">

        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ 'assets/css/app.css' | relative_url }}">

</head>

{%- if page.scroll == 'y' %}
<body data-spy="scroll" data-target="#list-example" id="deel01">
{%- include scroll-indicator.html %} 
{%- else%}
<body>
{%- endif  %}

{%- include nav.html %}

{{ content }}


{%- include footer.html %}

{%- include scripts-bottom.html %}
</body>

</html>